html {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: #eee;
    height:100% }

a, h1, h2 {
    color: #377ba8; }

h1, h2 {
    font-family: 'Georgia', serif;
    margin: 0; }

h1 {
    border-bottom: 2px solid #eee; }

h2 {
    font-size: 1.2em; }

.page {
    margin: 2em auto;
    width: 35em;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white; }

.metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa; }

.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2; }

.error {
    background: #f0d6d6;
    padding: 0.5em; }

#menunav {
    width:100%;
    background-color:#E6E6E6;
}

#body {
    padding-bottom:20px;
    margin: 0 2em;
}

#footer {
    width:100%;
    background-color: #E6E6E6;
    position:absolute;
}

#footer h3 {
    text-align:center;
    margin-bottom:-15px;
    padding-top:10px;
}

#container {
    height: 100%;
    margin-top:10px;
}

/* --== entries ==-- */

.entries {
    list-style: none;
    margin: 0;
    padding: 0; }

.entries li {
    margin: 0.8em 1.2em; }

.entries li h2 {
    margin-left: -1em; }

.entries li img {
    width: 400px;
}

.add-entry {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc; }

.add-entry dl {
    font-weight: bold; }

/* --== Card-item ==-- */

.card-item-img-wrapper {
    position: relative;
    overflow: hidden;
}

.card-item-img-wrapper img {
    width: 100%;
}

.card-item-img-wrapper .card-item-name {
    font-size: 1.375rem;
}

.card-item-img-wrapper .card-item-price {
    font-weight: bold;
}

.card-item-img-wrapper .card-item-description {
    color: #8a8a8a;
    font-size: 0.875rem;
    margin-bottom: 0;
}